@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=PT+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.botao{
    text-align: center;
    margin-top: 50vh;
}

button{
    background-image: linear-gradient(45deg, #0000ff,#0087f5);
    padding: 20px 40px;
    font-size: 2em;
    color: white;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}

@keyframes anima{
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.5);
    }
}

button:hover{
    animation-name: anima;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: alternate;

}